PORT=5000
MONGO_URI=mongodb+srv://gamerakshatmishra:YpsYkbzw1FxJQy1L@cluster0.ohclnm7.mongodb.net/taskmanager?appName=Cluster0

JWT_SECRET=replace-with-strong-secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
